body {
	background-image:url("../img/background.png");
}


.content {
  text-align: center;
}

.content:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
}
.centered-content {
    display: inline-block;
    vertical-align: middle;
}
@media all and (orientation: portrait) {
    .content:before {
        height: 25%; 
    }
}
@media all and (orientation: landscape) {
    .content:before {
        height: 100%; 
    }
}