body {
	background-image:url("../img/background.png");
}


.content {
  text-align: center;
}
 
.content:before {
  content: '';
  display: inline-block;
  height: 100%; 
  vertical-align: middle;
    
  /* For visualization 
  background: #808080; width: 5px;
  */
 }
 
.centered-content {
  display: inline-block;
  vertical-align: middle;
 }